{% extends 'base.html.twig' %}

{% block title %}Movies World Catalog!{% endblock %}

{% block body %}

    <h2>Movies Catalog!</h2>
     <div>There are {{ movies|length }} movies.</div>
    {% for movie in movies %}
        <h4><a href="{{ path('movie', { id : movie.id }) }}">{{ movie.title }}</a></h4>
        <p>{{ movie.description }}</p>
    {% endfor %}
    {% if previous >= 0 %}
        <a href="{{ path('movies', { offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < movies|length %}
        <a href="{{ path('movies', { offset: next }) }}">Next</a>
    {% endif %}
{% endblock %}
