{% extends 'base.html.twig' %}

{% block title %}movie Guestbook{% endblock %}

{% block body %}
    
    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('movies', { filter: 'title' }) }}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name ="search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"></button>
          </span>
        </div>
    </form>
    {% for movie in movies %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-10 mb-4">
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="font-weight-light">
                                {{ movie.title }}
                            </h4>
                        </div>
                        <img src="uploads/images/{{ movie.photoPath }}" />
                        {% if movie.owner == user %}
                        <a href="{{ path('movie', { id: movie.id, slug: movie.slug }) }}" class="btn btn-sm btn-primary stretched-link">Edit</a>
                        {% endif %}

                        <p>{{ movie.description }}</p>
                        <p>{{ movie.datePublished | format_datetime('medium', 'short') }}</p>  
                    </div>
                </div>
                <div class="col-md-2" style="font-size: 1em; color: #606060;">
                    <a href="{{ path('addlike', {'id': movie.id}) }}" id="popup">
                        <span class="fa fa-caret-up"></span>
                    </a>
                    <span>{{ movie.likes }}</span>
                    <span class="fa fa-caret-down"></span>
                    <span>{{ movie.hates }}</span>
                </div> 
            </div>
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('movie', { slug: movie.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < movies|length %}
            <a href="{{ path('movie', { slug: movie.slug, offset: next }) }}">Next</a>
        {% endif %}
    </div>
    {% if app.user is defined %}
    <a href="{{ path('movie', { id: 0 }) }}" class="btn btn-sm btn-primary">Add Movie</a>
    {% endif %}
{% endblock %}
