{% extends 'base.html.twig' %}

{% block title %}movie Guestbook{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3 col-md-3 col-lg-3 mb-4">
            <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('movies', { filter: 'title' }) }}">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name ="search">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"></button>
                </span>
                </div>
            </form>
        </div>
    </div>
    {% for movie in movies %}
        <div class="row">
            <div class="col-10 col-md-6 col-lg-10 mb-4">
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="font-weight-light">
                                {{ movie.title }}
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-3 col-md-3 col-lg-3">
                                <img src="uploads/images/{{ movie.photoPath }}" />
                            </div>
                            <div class="col-9 col-md-9 col-lg-9">
                                <p>{{ movie.description }}</p>
                                <p>{{ movie.datePublished | format_datetime('medium', 'short') }}</p>
                                <div class="col-md-2" style="font-size: 1em; color: #606060;">
                                    <a href="{{ path('addlike', {'id': movie.id}) }}" id="popup">
                                        <span class="fa fa-thumbs-up"></span>
                                    </a>
                                    <span>{{ movie.likes }}</span>
                                    <span class="fa fa-thumbs-down"></span>
                                    <span>{{ movie.hates }}</span>
                                </div>
                            </div>
                            
                        </div>
                        {% if movie.owner == user %}
                        <a href="{{ path('movie', { id: movie.id, slug: movie.slug }) }}" class="btn btn-sm btn-primary stretched-link">Edit</a>
                        {% endif %}
                        
                    </div>
                </div>
                 
            </div>
            {% if loop.index == 1 %}
                
            <div class="col-2 col-md-6 col-lg-2 mb-4">
                {% if app.user %}
                <a href="{{ path('movie', { id: 0 }) }}" class="btn btn-sm btn-primary mb-4">Add Movie</a>
                {% endif %}
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">Sort By:
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="likesRadio"  onclick="sortLikes();" >
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Likes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="hatesRadio" onclick="sortLikes());" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Hates
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="datesRadio" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Dates
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('movies', { offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < movies|length %}
            <a href="{{ path('movies', { offset: next }) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
  <script>
    function sortLikes(){
        debugger;
        var likesRadio = document.getElementById('likesRadio');
        var hatesRadio = document.getElementById('hatesRadio');
        var datesRadio = document.getElementById('datesRadio');
        if (likesRadio.checked){
            var jqxhr = $.ajax({
                type: "POST",
                url: "{{path('movies')}}",
                data: null
            })
            .done(function(data) {
                if (data.success === true) {
                    window.location.href = data.url;
                }
            })
        } else if (hatesRadio.checked) {
            alert("You didn't check spare-price! Let me check it for you.")
        } else if (datesRadio.checked) {

        }
    }
    </script>
{% endblock %}

