{% extends 'base.html.twig' %}

{% block title %}movie Guestbook{% endblock %}

{% block body %}
    {% for movie in movies %}
        <div class="row">
            <div class="col-10 col-md-6 col-lg-10 mb-4">
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="font-weight-light">
                                {{ movie.title }}
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-3 col-md-3 col-lg-3">
                                <img src="uploads/images/{{ movie.photoPath }}" />
                            </div>
                            <div class="col-9 col-md-9 col-lg-9">
                                <p>{{ movie.description }}</p>
                                <p>{{ movie.datePublished | format_datetime('medium', 'short') }}</p>
                                
                                {% if movie.owner == user %}
                                <a href="{{ path('movie', { id: movie.id, slug: movie.slug }) }}" class="btn btn-sm btn-primary">Edit</a>
                                {% endif %}

                                {% if app.user %}

                                <div class="col-md-2" style="font-size: 1em; color: #606060;">
                                    <a href="{{ path('movielike', {id: movie.id, liked: true}) }}" id="popup">
                                        <span class="fa fa-thumbs-up"></span>
                                    </a>
                                    <span>{{ movie.likes }}</span>
                                    <a href="{{ path('movielike', {id: movie.id, liked: false}) }}" id="popup">
                                        <span class="fa fa-thumbs-down"></span>
                                    </a>
                                    <span>{{ movie.hates }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>
            {% if loop.index == 1 %}
                
            <div class="col-2 col-md-6 col-lg-2 mb-4">
                {% if app.user %}
                <a href="{{ path('movie', { id: 0 }) }}" class="btn btn-sm btn-primary mb-4">Add Movie</a>
                {% endif %}
                <div class="card border shadow lift">
                    <div class="card-body">
                        <div class="card-title">Sort By:
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="likesRadio"  onclick="sortLikes();" >
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Likes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="hatesRadio" onclick="sortLikes();">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Hates
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="datesRadio" onclick="sortLikes();">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Dates
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('movies', { offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < movies|length %}
            <a href="{{ path('movies', { offset: next }) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
  <script>
    function sortLikes(){
        var likesRadio = document.getElementById('likesRadio');
        var hatesRadio = document.getElementById('hatesRadio');
        var datesRadio = document.getElementById('datesRadio');
        
        var http = new XMLHttpRequest();
        var url = '{{path('movies')}}';

        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                return false;
            }
        }
        
        if (likesRadio.checked){
            window.location.href= '{{path('movies')}}?column=likes&offset=0';
        } else if (hatesRadio.checked) {
            window.location.href= '{{path('movies')}}?column=hates&offset=0';
        } else if (datesRadio.checked) {
            window.location.href= '{{path('movies')}}?column=datePublished&offset=0';
        }
        return false;
    }
    </script>
{% endblock %}
